@layer reset, init, design;

@import url(normalize.css) layer(reset);
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap') layer(init);

@layer init {
    :root {
        color-scheme: light dark;
        --header-bg-color: light-dark(#3B3E40, #3B3E40);
        --primary-color: light-dark(#66D4D4, #478f8f);
        --secondary-color:light-dark(#fff,#fff);
        --text-color: light-dark(#000, #fff);
        --header-text-color: light-dark(#fff, #fff);
        --bg-color: light-dark(#fff, #000);
        --underline-color: light-dark(#646668, #546068);
    }
    html {
        font-family: 'Open Sans', sans-serif;
        font-size: 100%; /*16px default*/
        color:var(--text-color);
    }
}

@layer design {
    body {
        background-color: var(--bg-color);
        margin: 0;
    }
    main {
        max-width: margin auto;
        padding: 2rem;
    }
    h1 {
        font-size: 4rem;
        font-weight: 800;
    }
    footer {
        text-align: center;
        padding: 4em;
        background-color: var(--header-bg-color);
    }
    p, h3, h2 {
        margin: 0;
    }
    .img-fluid {
        display: block;
        width: 100%;
        height: auto;
    }
    .header{
        background-image: url('../images/header-2560w.webp');
        background-size: cover;
        background-position: top left;
        background-color: var(--header-bg-color);
        color: var(--header-text-color);
        line-height: 1.5;
        padding: 2rem;
    }
    .header__nav {
        text-align: center;
        margin-bottom: 3rem;
    }
    .header__text {
        max-width: 50rem;
    }
    .header__link {
        display: inline-block;
        padding: 0.5em 2em 0.5em 2em;
        text-decoration: none;
        font-weight: bold;
        background-color: var(--header-text-color);
        color: var(--header-bg-color);
        border-radius: 0.5em;
    }
    .header__link:hover{
        text-decoration: underline;
        text-decoration-color: var(--underline-color);
        color: var(--bg-color);
        background-color: var(--text-color);
    }
    .img-block {
        margin: 0;
    }
    .img-block__caption {
        text-align: center;
        margin-top: 0.5em;
    }
    .list__item {
        margin-bottom: 2em;
    }
    .list__item::marker {
        color: var(--primary-color);
    }
    .border--primary {
        border: var(--primary-color) solid 3px;
        padding: 2em;
    }
    .cards {
        margin-top: 1em;
        margin-bottom: 1em;
    }
    .card {
        margin: 0;
        max-width: 20rem;
        display: inline-block;
        vertical-align: top;
    }
    .card__img {
        width: auto;
    }
    figcaption > h3 {
        margin-bottom: 1em;
    }
    figcaption > p {
        margin-bottom: 2em;
    }
    .figure__link {
        text-decoration: none;
        font-weight: 600;
        color: var(--secondary-color);
        background-color: var(--primary-color);
        padding: 0.5rem 2rem 0.5rem 2rem;
        border-radius: 8px;
    }
    .gallery {
        box-sizing: border-box;
        margin: -1em;
    }
    .gallery__item {
        box-sizing: border-box;
        width: calc(50% - 2em);
        display: inline-block;
        vertical-align: top;
        margin: 1em;
    }
    .gallery__item--w100 {
        width: calc(100% - 2em);
    }
    .footer {
        color: var(--header-text-color);
        text-decoration: none;
    }
    .footer:hover {
        text-decoration: underline;
        text-decoration-color: var(--underline-color);
    }
}